@import "tailwindcss";

:root {
  --color-primary: #1b5fff;
  --color-secondary: #fe7a1b;
  --color-tertiary: #d1dfff;

  --color-feedback-error: #f87171;
  --color-feedback-success: #84cc16;
  --color-feedback-warning: #facc15;

  --color-title: #111827;
}
